@import "bootstrap.min.css";
@import "font-awesome.min.css";
@import "font";

$base-unit: 40px;

$white: #fff;
$grey: #444;
$grey-light: lighten($grey, 60%);
$grey-blue: #26343f;
$midnight-blue: #1a242d;

$primary-color: $white;

$bg-color: $primary-color;
$fg-color: $grey-blue;
$accent-color: #00b299;
$secondary-accent-color: #f2784b;

body {
    background-color: $bg-color;
    color: $fg-color;
    padding-top: $base-unit;
    font-family: 'CentumaSansLight';
}

input {
    &:focus {
        outline: none;
    }
}

textarea {
    resize: vertical;
}

.btn,
.panel,
.nav-tabs > li > a,
.nav-tabs.nav-justified > li > a {
    -webkit-border-radius: 0;
            border-radius: 0;
}

.nav-tabs > li > a {
    font-size: 1.5em;
    padding: $base-unit / 2;
}

.tab-content {
    padding: $base-unit;
    border-width: 0 1px 1px 1px;
    border-color: $grey-light;
    border-style: solid;
}

.large-input {
    width: 100%;
    padding: $base-unit / 4;
    font-size: 1.5em;
    margin-bottom: $base-unit / 4;
    border: 1px solid $grey-light;
}

.note-form {
    margin-bottom: $base-unit;
}

.notes-controls {
    margin-bottom: $base-unit / 2;
}

.notes-list-item {

    input,
    textarea {
        width: 100%;
        padding: $base-unit / 4;
        margin-bottom: $base-unit /4;
    }

    .panel {
        transition: transform 0.2s linear;
        position: relative;

        .delete-note {
            background-color: $white;
            position: absolute;
            top: -13px;
            left: -15px;
            border: 1px solid lightgray;
            padding: 2px 7px; 
            -webkit-border-radius: 15px;
                    border-radius: 15px;
        }
    }

    &.note-edit-mode .panel,
    .panel:hover {
        transform: scale(1.025);
        box-shadow: 0 0 10px $grey-light;
    }

    .panel:hover {
        cursor: pointer;
    }
}
